# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Environment variables
.env
.env.*

# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/
.Python

# Python-specific
.pytest_cache/
pytest_cache/
*.egg
*.egg-info/
.installed.cfg

# Logs and databases
*.log
*.sqlite3
*.db

# Unit test / coverage reports
.coverage
htmlcov/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.tox/
.nox/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
Desktop.ini

# Flask
instance/
webapp/*.db

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
MANIFEST

# Docker
docker-compose.override.yml
docker-compose.override.yml.bak

# Tailwind CSS
node_modules/
*.css.map
*.css.tmp

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Django stuff:
*.mo
*.pot

######################
# Dockerfile
# Ignore Docker-related artifacts
*.log
*.pid
*.sock
.env
docker-compose.override.yml
#######END#############