# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables file
.env

# Flask cache directory
instance/
.mypy_cache/

# Flask log files
flask.log

# Test and coverage results
.coverage
.tox/
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest cache directory
.pytest_cache/

# Enviro
